    <div charset="iso-8859-1">

        <h1>L'encodage de caractères</h1>
        <p>Une ancienne page web a déclaré un encodage de caractères qui n'est plus utilisé par les navigateurs récents. Du coup, certains caractères s'affichent de façon incorrecte !</p>
        <p>Pour régler le problème, il suffit de modifier l'encodage qui est <strong>UTF-8</strong>. Cela coûte 0 €.</p>
        <p>L'encodage de la page utilise 1 octet par caractère. Si on observe bien les caractères mal affiché, ils ont doubles ou triples ce qui signifie qu'il faut 2 ou 3 octets pour afficher le bon caractère.</p>

        <h2>Questions</h2>
        <ol>
            <li>Pouvez-vous reconnaitre certains caract&egrave;res mal affich&eacute;s ?</li>
            <li>Le caractère "&eacute;" est affich&eacute; é. Comment l'expliquer ?</li>
            <li>Le symbole &euro; est affich&eacute; €. </li>
            <li>Selon vous, quel est l'encodage utilis&eacute; et d&eacute;clar&eacute; sur cette page web ?</li>
            <li>Certains navigateurs permettent de changer l'encodage de texte. Est-ce le cas pour votre navigateur ?</li>
        <li>Pour corriger l'erreur d'affichage, il faut &eacute;diter le fichier et modifier l'encodage. Faites la modification et v&eacute;rifier que le navigateur affiche correctement la page.</li>   
        </ol>
    </div>
